{% extends 'base.html' %}

{% block content %}
          <h3>Missão 1: Crie um código para que o robô exiba seu nome</h3>
          <div class="coluna_esquerda">
            <h4>Área de código</h4>
            <form method="post" action="/verifica">
              <div id="areaBlocos">
                <input type="number" name="missao" value="1" hidden>
                <div class="dropin" id="div1" ondrop="drop(event, 1)" ondragover="allowDrop(event)"></div>
                <div class="dropin" id="div2" ondrop="drop(event, 2)" ondragover="allowDrop(event)"></div>
                <div class="dropin" id="div2" ondrop="drop(event, 3)" ondragover="allowDrop(event)"></div>
                <div class="dropin" id="div2" ondrop="drop(event, 4)" ondragover="allowDrop(event)"></div>
                <div class="dropin" id="div2" ondrop="drop(event, 5)" ondragover="allowDrop(event)"></div>
              </div>
              <div class="dropin" id="Novo" onclick="NovaDiv()"><p>&nbsp;Novo <b>+</b> </p></div>
              <br>
              <button type="submit">Ok!</button>
              <button type="reset">Reset</button>
            </form>
          </div>
          <div class="coluna_direita" ondrop="drop(event, 0)" ondragover="allowDrop(event, 0)">
            {% include 'codeBlocks.html' %}
            {% block codigos %}
    
            {% endblock %}
                    
          </div>
{% endblock %}
